<div>
  <button *ngIf="!newProjectCreated" (click)="initiateObjectForm()">
    Create New Project
  </button>
</div>

<div *ngIf="objectFormIsOpen">
  <h2>Create New Project:</h2>

  <div *ngIf="dictSize < 10">
    <input
      type="text"
      [(ngModel)]="newObjectClass"
      placeholder="Enter class name"
    />
    <button (click)="addObject()">+</button>
  </div>

  <div *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div>
    <button (click)="finishForm()">Finish</button>
  </div>

  <!-- List of added objects with a remove button -->
  <div *ngFor="let key of getKeys(objectDict)">
    <input
      type="text"
      [(ngModel)]="objectDict[key]"
      placeholder="Object class"
    />
    <button (click)="removeObject(key)">-</button>
  </div>
</div>
